.Rproj.user
.Rhistory
.RData
.Ruserdata
.rds 
.env

*.log
*.json

First_explorations_alan/Chroma/
Data/Hotel_Reviews.csv 
reviews_most_relevant.csv 

*.csv 

Data/Hotel_Reviews.csv 
reviews_most_relevant.csv
First_explorations_bogdan/used_data.txt
First_explorations_alan/used_data.txt
used_data.txt
First_explorations_bogdan/time_series_avg.ipynb
First_explorations_bogdan/chroma_db_reviews/
First_explorations_bogdan/chroma_db_reviews2/